@{
    Layout = "~/Views/Shared/_BasicUserLayout.cshtml";
}

@{
    ViewBag.Title = "Basic User Home";
}

@section mysection
{
   
    <h1>My Section Content</h1>
    
    }


<h2>Basic User Home</h2>