@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section submenu{
    <a href="/BasicUser/Home">Home</a>
    <a href="/BasicUser/CreateUser">Create User Demo</a>
    <a href="/BasicUser/ShowAll">Show All Demo</a>
   
}



 @RenderBody()