@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section submenu{
    <a href="/Teacher/Home">Home</a>
    <a href="/Teacher/TeacherView">Add Teacher</a>

}

@section scripts{
    @RenderSection("scripts", required: false)
}

@RenderBody()