@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section submenu{
    <a href="/ComplexUser/Home">Complex User Home</a>
    <a href="/ComplexUser/DispSimple">Simple ViewModel </a>
    <a href="/ComplexUser/DispSimpleHelper">Simple ViewModel-HtmlHelper </a>
    <a href="/ComplexUser/Edit">ViewModel-Edit</a>
    <a href="/ComplexUser/EditHelper">ViewModel-Edit with HTML Helper</a>
    <a href="/ComplexUser/DispList">ViewModel - List </a>
    <a href="/ComplexUser/DispListHelper">ViewModel - List - HtmlHelper </a>
    <a href="/ComplexUser/Third">Complex ViewModel</a>
}


 @RenderBody()